<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Car List</h1>
<br/><br/>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Series</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="msg : ${cars}">
            <td th:text="${msg.getModel}">Model</td>
            <td th:text="${msg.getSeries}">Series</td>
            <td th:text="${msg.getYear}">Year</td>
        <tr>
        </tbody>
    </table>
</div>
</body>
</html>